.menu-navegacao{
   width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-image:linear-gradient(#000000, #3f0000);
    padding:5px 40px;
    box-sizing:border-box;
}

.links-menu{
    display:flex;
    align-items:center;
    list-style:none;
    margin:0;
    padding:0;
    gap:35px;
}

.links-menu li{
    position:relative;
}

.links-menu a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    transition:0.3s;
}

.links-menu a:hover{
    color:#ff0000;
}

.submenu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#111;
    list-style:none;
    padding:10px 0;
    margin:0;
    min-width:180px;
    border:1px solid #ff0000;
    border-radius:5px;
}

.submenu li{
    width:100%;
}

.submenu a{
    display:block;
    padding:10px 20px;
    color:white;
}

.submenu a:hover{
    background:#ff0000;
    color:white;
}

.dropdown:hover .submenu{
    display:block;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;   
    height: auto;
}